# Created by .ignore support plugin (hsz.mobi)
*.swo
*.swp
.gradle/
xnat/plugins
*-data/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore build manifests
manifest*.json

# Ignore gradle.properties to allow setting persistent property overrides
gradle.properties

*.env

