# Created by .ignore support plugin (hsz.mobi)
*.swo
*.swp

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore build manifests
manifest*.json

# Ignore gradle.properties to allow setting persistent property overrides
gradle.properties

# Ignore log and env files, as well as mounted data folders and plugin folders.
*.log
*-data/
xnat/plugins

xnat/webapps

*.env
!default.env

