services:

  xnat-web:
    container_name: xnat-web
    build:
      context: ./xnat
      args:
        XNAT_VERSION: ${XNAT_VERSION}
        XNAT_SMTP_ENABLED: ${XNAT_SMTP_ENABLED}
        XNAT_SMTP_HOSTNAME: ${XNAT_SMTP_HOSTNAME}
        XNAT_SMTP_PORT: ${XNAT_SMTP_PORT}
        XNAT_SMTP_AUTH: ${XNAT_SMTP_AUTH}
        XNAT_SMTP_USERNAME: ${XNAT_SMTP_USERNAME}
        XNAT_SMTP_PASSWORD: ${XNAT_SMTP_PASSWORD}
        XNAT_SMTP_START_TLS: ${XNAT_SMTP_START_TLS}
        XNAT_DATASOURCE_DRIVER: ${XNAT_DATASOURCE_DRIVER}
        XNAT_DATASOURCE_URL: ${XNAT_DATASOURCE_URL}
        XNAT_DATASOURCE_USERNAME: ${XNAT_DATASOURCE_USERNAME}
        XNAT_DATASOURCE_PASSWORD: ${XNAT_DATASOURCE_PASSWORD}
        TOMCAT_XNAT_FOLDER: ${TOMCAT_XNAT_FOLDER}
        XNAT_ROOT: ${XNAT_ROOT}
        XNAT_HOME: ${XNAT_HOME}
        XNAT_EMAIL: ${XNAT_EMAIL}
    ports:
      - 8000:8000
      - 8104:8104
    networks:
      - xnat-network
    volumes:
      - ./xnat/plugins:${XNAT_HOME}/plugins
      - ./xnat-data/home/config/auth:${XNAT_HOME}/config/auth
      - ./xnat-data/home/logs:${XNAT_HOME}/logs
      - ./xnat-data/archive:${XNAT_ROOT}/archive
      - ./xnat-data/build:${XNAT_ROOT}/build
      - ./xnat-data/cache:${XNAT_ROOT}/cache
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - xnat-db
    environment:
      - CATALINA_OPTS=-Xms${XNAT_MIN_HEAP} -Xmx${XNAT_MAX_HEAP} -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000 -Dxnat.home=${XNAT_HOME}
      - XNAT_HOME=${XNAT_HOME}

  xnat-keycloak:
    container_name: xnat-keycloak
    image: quay.io/keycloak/keycloak:26.3.2
    command: start-dev
    ports:
      - 8082:8080
    depends_on:
      - xnat-db
    networks:
      - xnat-network
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: ${KEYCLOAK_DATASOURCE_URL}
      KC_DB_NAME: ${KEYCLOAK_DATASOURCE_NAME}
      KC_DB_USERNAME: ${KEYCLOAK_DATASOURCE_USERNAME}
      KC_DB_PASSWORD: ${KEYCLOAK_DATASOURCE_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_URL}
      KC_HTTP_RELATIVE_PATH: ${KEYCLOAK_RELATIVE_PATH}
    volumes:
      - keycloak-data:/opt/keycloak/data
    restart: unless-stopped

  xnat-db:
    container_name: xnat-db
    image: postgres:${PG_VERSION}
    expose:
      - 5432
    networks:
      - xnat-network
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=${XNAT_DATASOURCE_ADMIN_PASSWORD}
      - POSTGRES_DB=${XNAT_DATASOURCE_NAME}
      # variables for the sql script
      - XNAT_DATASOURCE_USERNAME=${XNAT_DATASOURCE_USERNAME}
      - XNAT_DATASOURCE_PASSWORD=${XNAT_DATASOURCE_PASSWORD}
      - KC_DB_NAME=${KEYCLOAK_DATASOURCE_NAME}
      - KC_DB_USERNAME=${KEYCLOAK_DATASOURCE_USERNAME}
      - KC_DB_PASSWORD=${KEYCLOAK_DATASOURCE_PASSWORD}

  xnat-nginx:
    container_name: xnat-nginx
    image: nginx:${NGINX_VERSION}
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    networks:
      - xnat-network
    depends_on:
      - xnat-keycloak
      - xnat-web
    links:
      - xnat-keycloak
      - xnat-web

networks:
  xnat-network:
    name: xnat-network

volumes:
  keycloak-data:
    name: keycloak-data
    driver: local

