services:

  xnat-web-1:
    container_name: xnat-web-1
    restart: on-failure
    build:
      context: ./xnat
      args:
        XNAT_VERSION: ${XNAT_VERSION}
        XNAT_SMTP_ENABLED: ${XNAT_SMTP_ENABLED}
        XNAT_SMTP_HOSTNAME: ${XNAT_SMTP_HOSTNAME}
        XNAT_SMTP_PORT: ${XNAT_SMTP_PORT}
        XNAT_SMTP_AUTH: ${XNAT_SMTP_AUTH}
        XNAT_SMTP_USERNAME: ${XNAT_SMTP_USERNAME}
        XNAT_SMTP_PASSWORD: ${XNAT_SMTP_PASSWORD}
        XNAT_DATASOURCE_DRIVER: ${XNAT_DATASOURCE_DRIVER}
        XNAT_DATASOURCE_URL: ${XNAT_DATASOURCE_URL}
        XNAT_DATASOURCE_USERNAME: ${XNAT_DATASOURCE_USERNAME}
        XNAT_DATASOURCE_PASSWORD: ${XNAT_DATASOURCE_PASSWORD}
        TOMCAT_XNAT_FOLDER: ${TOMCAT_XNAT_FOLDER}
        XNAT_ROOT: ${XNAT_ROOT}
        XNAT_HOME: ${XNAT_HOME}
        XNAT_EMAIL: ${XNAT_EMAIL}
    networks: [xnat-services]
    ports:
      - 8100:8000
      - 8180:8080
      - 8104:8104
      - 8105:8105
      - 8106:8106
    volumes:
      - ./xnat/plugins:${XNAT_HOME}/plugins
      - ./xnat/node-conf-1.properties:${XNAT_HOME}/config/node-conf.properties
      - ./xnat-data/1/build:${XNAT_ROOT}/build
      - ./xnat-data/1/cache:${XNAT_ROOT}/cache
      - ./xnat-data/1/home/logs:${XNAT_HOME}/logs
      - ./xnat-data/archive:${XNAT_ROOT}/archive
      - ./xnat-data/prearchive:${XNAT_ROOT}/prearchive
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - xnat-db
    environment:
      - CATALINA_OPTS=-Xms${XNAT_MIN_HEAP} -Xmx${XNAT_MAX_HEAP} -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000 -Dxnat.home=${XNAT_HOME} -Dxnat.is_primary_node=true
      - XNAT_HOME=${XNAT_HOME}

  xnat-web-2:
    container_name: xnat-web-2
    restart: on-failure
    build:
      context: ./xnat
      args:
        XNAT_VERSION: ${XNAT_VERSION}
        XNAT_SMTP_ENABLED: ${XNAT_SMTP_ENABLED}
        XNAT_SMTP_HOSTNAME: ${XNAT_SMTP_HOSTNAME}
        XNAT_SMTP_PORT: ${XNAT_SMTP_PORT}
        XNAT_SMTP_AUTH: ${XNAT_SMTP_AUTH}
        XNAT_SMTP_USERNAME: ${XNAT_SMTP_USERNAME}
        XNAT_SMTP_PASSWORD: ${XNAT_SMTP_PASSWORD}
        XNAT_DATASOURCE_DRIVER: ${XNAT_DATASOURCE_DRIVER}
        XNAT_DATASOURCE_URL: ${XNAT_DATASOURCE_URL}
        XNAT_DATASOURCE_USERNAME: ${XNAT_DATASOURCE_USERNAME}
        XNAT_DATASOURCE_PASSWORD: ${XNAT_DATASOURCE_PASSWORD}
        TOMCAT_XNAT_FOLDER: ${TOMCAT_XNAT_FOLDER}
        XNAT_ROOT: ${XNAT_ROOT}
        XNAT_HOME: ${XNAT_HOME}
        XNAT_EMAIL: ${XNAT_EMAIL}
    networks: [xnat-services]
    ports:
      - 8200:8000
      - 8280:8080
      - 8204:8104
      - 8205:8105
      - 8206:8106
    volumes:
      - ./xnat/plugins:${XNAT_HOME}/plugins
      - ./xnat/node-conf-2.properties:${XNAT_HOME}/config/node-conf.properties
      - ./xnat-data/2/build:${XNAT_ROOT}/build
      - ./xnat-data/2/cache:${XNAT_ROOT}/cache
      - ./xnat-data/2/home/logs:${XNAT_HOME}/logs
      - ./xnat-data/archive:${XNAT_ROOT}/archive
      - ./xnat-data/prearchive:${XNAT_ROOT}/prearchive
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - xnat-db
      - xnat-web-1
    environment:
      - CATALINA_OPTS=-Xms${XNAT_MIN_HEAP} -Xmx${XNAT_MAX_HEAP} -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000 -Dxnat.home=${XNAT_HOME} -Dxnat.is_primary_node=false
      - XNAT_HOME=${XNAT_HOME}

  xnat-activemq:
    container_name: xnat-activemq
    restart: on-failure
    image: islandora/activemq:renovate.all-non-major-dependencies-arm64
    networks: [xnat-services]
    expose:
      - "61616"
    ports:
      - "8161:8161"

  xnat-db:
    container_name: xnat-db
    restart: on-failure
    image: postgres:${PG_VERSION}
    networks: [xnat-services]
    expose:
      - "5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=${XNAT_DATASOURCE_ADMIN_PASSWORD}
      - POSTGRES_DB=${XNAT_DATASOURCE_NAME}
      - XNAT_DATASOURCE_USERNAME=${XNAT_DATASOURCE_USERNAME}
      - XNAT_DATASOURCE_PASSWORD=${XNAT_DATASOURCE_PASSWORD}

  xnat-haproxy:
    container_name: xnat-haproxy
    restart: on-failure
    image:          haproxy:${HAPROXY_VERSION}
    networks:       [xnat-services]
    ports:
      - "80:80"
    volumes:
      - ./haproxy:/usr/local/etc/haproxy
    depends_on:
      - xnat-web-1
      - xnat-web-2

networks:
  xnat-services:
    name: xnat-services
    driver: bridge

