services:

  xnat-ldap:
    container_name: xnat-ldap
    image: osixia/openldap:latest
    networks:
      - xnat-services
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ${ENV_LDAP_CONFIG}:/container/service/slapd/assets/config/bootstrap/ldif/custom/users.ldif
    command: ["--copy-service"]
    environment:
      LDAP_DOMAIN: ${ENV_LDAP_DOMAIN}
      LDAP_ORGANISATION: ${ENV_LDAP_ORGANISATION}
      LDAP_ADMIN_PASSWORD: ${ENV_LDAP_ADMIN_PASSWORD}

  xnat-ldap-admin:
    container_name: xnat-ldap-admin
    image: osixia/phpldapadmin:latest
    networks:
      - xnat-services
    ports:
      - "80:80"
      - "6443:443"
    environment:
      PHPLDAPADMIN_HTTPS: false
      PHPLDAPADMIN_LDAP_HOSTS: xnat-ldap

networks:

  xnat-services:
    name: xnat-services
    driver: bridge

